*.class

# Gradle
.gradle/
**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store
